@page "/fetchdata"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using FptUni.BpHospital.BlazorFE.Data
@inject WeatherForecastService ForecastService

<PageTitle>Weather forecast</PageTitle>


<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<SfGrid DataSource="@forecasts" AllowPaging=true AllowSelection="true" AllowSorting="true" AllowFiltering="true" Height="600">

</SfGrid>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
