@inherits LayoutComponentBase

<PageTitle>BpHospital</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <article class="content px-4">
                        @Body
                    </article>
                </Authorized>

                <NotAuthorized>
                    <Unauthorized />
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </main>
</div>
