@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">BP Hospital</span>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

            <AuthorizeView Policy="HRManager">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/Hr/Index/">
                            <span class="oi oi-plus" aria-hidden="true"></span> Human Resources
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Medicine/Index/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Medicines
            </NavLink>
        </div>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
    </nav>
</div>

