@attribute [Authorize]
@using ShareLibrary.EntityProviders;
<CascadingAuthenticationState>


    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <span class="navbar-brand">BP Hospital</span>
        </div>
    </div>

    <div>
        <nav class="flex-column">
            @* Match="NavLinkMatch.All" *@

            <AuthorizeView Policy="@RoleConstants.HRManager">
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="()=> ExpandSubMenu = !ExpandSubMenu">
                            <span class="oi oi-clipboard" aria-hidden="true"></span> Human Resources
                        </NavLink>
                        @if (ExpandSubMenu)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/Report/">
                                        <span class="oi oi-document" aria-hidden="true"></span> HR Reports
                                    </NavLink>

                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/LeaveRequest/">
                                        <span class="oi oi-calendar" aria-hidden="true"></span> Leave Requests
                                    </NavLink>

                                </li>
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/User/">
                                        <span class="oi oi-people" aria-hidden="true"></span> Employees
                                    </NavLink>

                                </li>

                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/Department/">
                                        <span class="oi oi-box" aria-hidden="true"></span> Department
                                    </NavLink>

                                </li>

                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/Occupation/">
                                        <span class="oi oi-briefcase" aria-hidden="true"></span> Occupations
                                    </NavLink>

                                </li>

                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/Hr/Attendance/">
                                        <span class="oi oi-circle-check" aria-hidden="true"></span> Attendance
                                    </NavLink>

                                </li>
                            </ul>
                        }
                    </div>
                </Authorized>
            </AuthorizeView>

            @*             <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Medicine/Index/">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Medicines
            </NavLink>
            </div> *@
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" @onclick="()=> ExpandSubMenuMyPage = !ExpandSubMenuMyPage">
                            <span class="oi oi-clipboard" aria-hidden="true"></span> My Page
                        </NavLink>
                        @if (ExpandSubMenuMyPage)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="/MyPage/LeaveRequest/">
                                        <span class="oi oi-document" aria-hidden="true"></span>Leave Request
                                    </NavLink>

                                </li>
                            </ul>
                        }

                        <NavLink class="nav-link" href="Logout">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</CascadingAuthenticationState>